.totalPrice {
  display: none;
}

#yourOrder {
  display: none;
}

#buttonStyler {
  margin-top: 65px;
}

body {
  background-image: url("http://getwallpapers.com/wallpaper/full/b/f/9/16392.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Supermercado One', cursive;
}

.jumbotron {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/354789.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px black;
}

.headerStyles {
  text-align: center;
}
